<div class="ins_body-content">
    <div class="ins_header_background ins_setbg_financiamento">

        <div class="row ">
            <div class="col s6 ins_header-section">
                <h1>Institucional</h1>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col s12">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col s12 nav-breadcrumb">
                <a href="/" class="breadcrumb grey-text text-darken-3">Página Inicial</a>
                <a href="#financiamento" class="breadcrumb grey-text text-darken-3">Institucional</a>
            </div>
        </div>

        <div class="row">
            <div class="col s12 page_title">
                <h1>Financiamento <a name="financiamento"></a></h1>
            </div>
        </div>

        <div class="row">
            <div class="col s12 page_title">

                <h2> BNDES </h2>
                <p>A Comil tem toda a sua linha de equipamentos credenciada junto ao BNDES. Aproveite as taxas de juros e prazos.</p>

                <h3> Taxa de Juros</h3>
                <p>Pré Fixada 5% - Para investimentos relativos à armazenagem de grãos de unidades com capacidade de até 6.000 toneladas.</p>
                <p>Pré Fixada 6% a.a.- Para os demais empreendimentos.</p>

                <h3>Prazos</h3>
                <p>Até 13 anos, com carência de até 3 anos.</p>


            </div>
        </div>

 <div class="row">
            <div class="col s12">
                <p class="center-align"><img src="/assets/images/institucional/s.png" width="305"></p>
            </div>
        </div>

        <div class="row">
            <div class="col s12 page_title">

                <h2> Cresol </h2>
                <p>A Comil Silos e Secadores avança em sua missão para contribuir com o desenvolvimento do agronegócio.</p>
                <p>A Cresol disponibiliza o programa PCA – Programa para Construção e Ampliação de Armazéns, para aquisição de equipamentos Comil.</p>
                <p>Com esta parceria os clientes terão à disposição mais agilidade na liberação dos recursos, carência de até 3 anos, prazo de até 13 anos e taxas que variam de 5% a.a. a 6% a.a.</p>
                <p>Lembrando que o nível de participação do BNDES é de até 100% do projeto.</p>

            </div>
        </div>
    
 <div class="row">
            <div class="col s12">
                <p class="center-align"><img src="/assets/images/institucional/s.png" width="305"></p>
            </div>
        </div>
        
        <div class="row">
            <div class="col s12 page_title">

                <p>Para saber mais sobre estas parcerias,  entre em contato com nossos consultores através do telefone <b>+55 (45) 2101-5000</b>.</p>

            </div>
        </div>


    </div>


<div class="row">
            <div class="col s12">
                &nbsp;
            </div>
        </div>


</div>