<div class="ins_body-content">
    <div class="ins_header_background ins_setbg_historia">

        <div class="row ">
            <div class="col s6 ins_header-section">
                <h1>Institucional</h1>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col s12">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col s12 nav-breadcrumb">
                <a href="/" class="breadcrumb grey-text text-darken-3">Página Inicial</a>
                <a href="#historia" class="breadcrumb grey-text text-darken-3">Institucional</a>
            </div>
        </div>

        <div class="row">
            <div class="col s12 page_title">
                <h1>Nossa história <a name="historia"></a></h1>
            </div>
        </div>       

        <div class="row">
            <div class="col s12">
                
                <video class="video materialboxed" poster="/assets/splash.jpg" autobuffer="autobuffer" loop="loop" controls="controls" tabindex="0">
                    <source src="/assets/BrandHistoryComil.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
                </video>
                



            </div>
        </div>       
    </div>





</div>

<script>
  $(document).ready(function(){
    $('.materialboxed').materialbox();
  });
</script>