<div class="ins_body-content">
    <div class="ins_header_background">

        <div class="row ">
            <div class="col s6 ins_header-section">
                <h1>Institucional</h1>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col s12">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col s12 nav-breadcrumb">
                <a href="/" class="breadcrumb grey-text text-darken-3">Página Inicial</a>
                <a href="#sobre" class="breadcrumb grey-text text-darken-3">Institucional</a>
            </div>
        </div>

        <div class="row">
            <div class="col s12 page_title">
                <h1>Sobre a Comil <a name="sobre"></a></h1>
            </div>
        </div>

        <div class="row">
            <div class="col s12">

                <p>A Comil Silos e Secadores é uma empresa com trajetória ligada à origem e evolução da moderna agricultura brasileira. Quando a empresa iniciou atividades, em 1957, o Brasil rural assistia aos primeiros passos do processo de mecanização modernização. </p>
                <p>A empresa é referência na produção de equipamentos agrícolas e desponta entre as principais empresas do mercado brasileiro em seu ramo de atividade. </p>
                <p>Possui um parque fabril com 18.500m² de área construída.</p>
                <p>Os equipamentos fabricados pela Comil são testados e permanentemente aperfeiçoados para assegurar seu excelente desempenho. A convivência e o intercâmbio com clientes de várias regiões do país e do exterior, possibilita a adaptação dos produtos às diferentes realidades e necessidades de cada segmento. </p>
                <p>Dessa forma a Comil, mais de seis décadas de mercado, dispõe da experiência e o know-how necessários para projetar seus produtos para além das fronteiras, despontando entre as principais empresas do mercado em seu ramo de atividade.</p>

            </div>
        </div>
    </div>

    <div class="container ins_page_movie">

        <div class="row">
            <div class="col s12">
                <p class="center-align"><img src="/assets/images/institucional/s.png" width="305"></p>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <iframe width="100%" height="420" src="https://www.youtube-nocookie.com/embed/SDZde5pcZHM?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <p class="center-align"><img src="/assets/images/institucional/s.png" width="305"></p>
            </div>
        </div>

    </div>

    <a name="missaovisaovalores"></a>

    <div class="ins_page-blocks ins_block-missao to-mobile">       
            <div class="description">
                    <h2>Missão</h2>
                    <p>Fornecer em escala global soluções avançadas para armazenagem de grãos.</p>              
            </div>
            <div class="ilustration"> &nbsp; </div>        
    </div>


    <div class="ins_page-blocks ins_block-missao ins_block-visao ">
        
            <div class="ilustration">&nbsp;</div>
            <div class="description">
                    <h2>Visão</h2>
                    <p>Ser a empresa mais ágil na transformação de produtos e atendimento ao cliente, até 2022.</p>
                </div>                
            </div>
        
    </div>


    <div class="ins_page-blocks ins_block-missao ins_block-valores to-mobile">
            <div class="col s8 description type-list">
                <h2>Valores</h2>
                <p>• Ser ético e valorizar as pessoas</p>
                <p>• Ser dinâmico com foco em resultados</p>
                <p>• Comprometer-se com o trabalho em equipe</p>
                <p>• Comunicar-se de forma objetiva e transparente</p>
                <p>• Atuar com responsabilidade social e respeito ao meio-ambiente</p>
                <p>• Inovar com foco na qualidade</p>
            </div>
            <div class="ilustration"> &nbsp; </div>        
    </div>




    <p>&nbsp;</p>


</div>

