<% content_for :navbar do %>

<nav class=" grey darken-4">
    <div class="nav-wrapper">
        <div class="container">
            <h1 class="left "> <span class="material-icons chevron">chevron_right</span> Representantes</h1>
            <ul class="right hide-on-med-and-down">
                <li><a href="sass.html"><i class="material-icons">search</i></a></li>
                <li><a href="collapsible.html"><i class="material-icons">add</i></a></li>
                <li><a href="mobile.html"><i class="material-icons">list</i></a></li>
            </ul>
        </div>
    </div>
</nav>

<% end %>



<div class="container">
    <div class="row">
        <div class="col s12">


            <div class="card">
                <div id="table-custom-elements_wrapper" class="dataTables_wrapper no-footer">
                    <div id="table-custom-elements_filter" class="dataTables_filter">
                    <label><input type="search" class="" placeholder="Enter search term" aria-controls="table-custom-elements"></label></div>
                    <div class="dataTables_scroll">
                        

                        <div class="dataTables_scrollBody" style="position: relative; overflow: auto; max-height: 400px; width: 100%;">
                            <table id="table-custom-elements" class="row-border dataTable no-footer" cellspacing="0" width="100%" role="grid" aria-describedby="table-custom-elements_info" style="width: 100%;">
                                <thead>
                                    <tr role="row" style="height: 0px;">
                                        <th class="dataTables-checkbox-column sorting_disabled" rowspan="1" colspan="1" style="width: 40px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="">
                                            <div class="dataTables_sizing" style="height:0;overflow:hidden;"><label><input class="filled-in select-all" name="select_all" value="1" type="checkbox"><span></span></label></div>
                                        </th>
                                        <th class="sorting" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 127px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Name: activate to sort column ascending">
                                            <div class="dataTables_sizing" style="height:0;overflow:hidden;">Name</div>
                                        </th>
                                        <th class="sorting" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 199px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Position: activate to sort column ascending">
                                            <div class="dataTables_sizing" style="height:0;overflow:hidden;">Position</div>
                                        </th>
                                        <th class="sorting_asc" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 101px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-sort="ascending" aria-label="Office: activate to sort column descending">
                                            <div class="dataTables_sizing" style="height:0;overflow:hidden;">Office</div>
                                        </th>
                                        <th class="sorting" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 38px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Age: activate to sort column ascending">
                                            <div class="dataTables_sizing" style="height:0;overflow:hidden;">Age</div>
                                        </th>
                                        <th class="sorting" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 88px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Start date: activate to sort column ascending">
                                            <div class="dataTables_sizing" style="height:0;overflow:hidden;">Start date</div>
                                        </th>
                                        <th class="sorting" aria-controls="table-custom-elements" rowspan="1" colspan="1" style="width: 69px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Salary: activate to sort column ascending">
                                            <div class="dataTables_sizing" style="height:0;overflow:hidden;">Salary</div>
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr role="row" class="odd">
                                        <td class=" dataTables-checkbox-column"><label><input class="filled-in" type="checkbox" name="id[]" value="1"><span></span></label></td>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td class="sorting_1"><span class="new badge" data-badge-caption="">Edinburgh</span></td>
                                        <td>5421</td>
                                        <td>2011/04/25</td>
                                        <td>$320,800</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>