<div class="ins_body-content prd-correia-transportadora">
    <div class="ins_header_background ins_setbg_header">

        <div class="row ">
            <div class="col s6 ins_header-section">
                <h1>Transporte</h1>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col s12">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col s12 nav-breadcrumb">
                <a href="/" class="breadcrumb grey-text text-darken-3">Página Inicial</a>
                <a href="#" class="breadcrumb grey-text text-darken-3">Produtos</a>
            </div>
        </div>

        <div class="row">
            <div class="col s12 page_title">
                <h1>Correias transportadoras</h1>
            </div>
        </div>

        <div class="row">
            <div class="col s12 page_title">
                <p>As Correias Transportadoras Comil são responsáveis por realizar o transporte horizontal ou com inclinação recomendada de até 8º (graus) de granéis sólidos em alto volume sem danificar os grãos.</p> 
                <p>São compostas por conjuntos modulares, com longarinas em aço galvanizado, conjuntos de cavaletes e roletes galvanizados para movimento da correia.</p>
                <p>Além de alto desempenho, o sistema de correias apresenta baixo custo de manutenção, tornando-se o equipamento ideal para transporte de grãos em longas, médias e pequenas distâncias.</p>
            </div>
        </div>



        <div class="row"> &nbsp; </div>


    </div>


    <div class="ins_page-blocks ins_block-produto cobertura">
        <div class="row ">
        <div class="col s6 ilustration"> &nbsp; </div>
            <div class="col s6 ">
                <div class="col s8 description">
                    <h2>Cobertura</h2>
                    <p>As correias, expostas ao ar livre, são cobertas com painéis metálicos para garantir a proteção do produto transportado.</p>
                </div>
                <div class="col s4"></div>
            </div>            
        </div>
    </div>

   <div class="ins_page-blocks ins_block-produto aparador">
        <div class="row row-mobile">
            <div class="col s6 ">
                <div class="col s4"></div>
                <div class="col s8 description">
                    <h2>Aparador</h2>
                    <p>O aparador é o ponto de descarga de produto na extremidade da correia transportadora.</p>
                </div>
            </div>
            <div class="col s6 ilustration"> &nbsp; </div>
        </div>
    </div>

  <div class="ins_page-blocks ins_block-produto corpo">
        <div class="row">
            <div class="col s6 ilustration"> &nbsp; </div>
            <div class="col s6 ">
                <div class="col s8 description">
                    <h2>Corpo modular</h2>
                    <p>Os corpos são modulares com 1,0, 2,0 e 3,0m, que permite a composição do comprimento total de metro em metro.</p>
                </div>
                <div class="col s4"></div>
            </div>
        </div>
    </div>

    <div class="ins_page-blocks ins_block-produto rolo">
        <div class="row row-mobile">
            <div class="col s6 ">
                <div class="col s4"></div>
                <div class="col s8 description">
                    <h2>Rolo acionamento</h2>
                    <p>
                    Rolo acionamento é revestido com borracha vulcanizada preta SBR, dureza 60-65 shore e ranhurada em “X”. Desta forma, aumenta o atrito entre a correia plana e o rolo acionamento, garantindo maior vida útil a correia plana e maior eficiência na transmissão de potência.
                    </p>
                </div>
            </div>
            <div class="col s6 ilustration"> &nbsp; </div>
        </div>
    </div>

    <div class="row"> &nbsp; </div>


    <div class="container">

        <div class="row">
            <div class="col s12">
                <h3>Obras com <b>Correias Transportadoras Comil</b></h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="carousel carousel-slider" id="show-works">
                <a class="carousel-item"><img src="/assets/images/produtos/siloplano/gl-siloplano-03.jpg"></a>
            </div>
        </div>
    </div>

    <div class="container hide">

        <div class="row">
            <div class="col s12">
                <h3>Especificações técnicas </h3>
            </div>

            <div class="row"> &nbsp; </div>

            

            <div class="row action-row-box">
                <div class="col s12 center-align">
                    <a href="#" class="action-link center-align">Download da tabela técnica</a>
                </div>
            </div>
        </div>
    </div>

</div>








<script>
    $(document).ready(function() {


        $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true,
            numVisible: 2
        });


    });
</script>