<div class="ins_body-content prd-transporte-elevador">
    <div class="ins_header_background ins_setbg_header">

        <div class="row ">
            <div class="col s6 ins_header-section">
                <h1>Transporte</h1>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col s12">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col s12 nav-breadcrumb">
                <a href="/" class="breadcrumb grey-text text-darken-3">Página Inicial</a>
                <a href="#" class="breadcrumb grey-text text-darken-3">Produtos</a>
            </div>
        </div>

        <div class="row">
            <div class="col s12 page_title">
                <h1>Elevadores</h1>
            </div>
        </div>

        <div class="row">
            <div class="col s12 page_title">
                <p>Os Elevadores Comil são projetados para o transporte vertical de granéis sólidos, utilizados em unidades armazenadoras e industriais. Construídos em estrutura autoportante modular de aço galvanizado, com capacidade de 27 a 1000 m /h, descarga centrífuga do produto ocorre através de canecas convencionais ou descarga por gravidade canecas vazadas, com acionamento por moto redutor. </p> 
                
            </div>
        </div>



        <div class="row"> &nbsp; </div>


    </div>


    <div class="ins_page-blocks ins_block-produto seguranca">
        <div class="row ">
        
            <div class="col s6 ilustration"> &nbsp; </div>
            <div class="col s6 ">
                <div class="col s8 description">
                    <h2>Segurança</h2>
                    <p> O sistema guarda-corpo (ou gaiolas de proteção) do elevador Comil é montado junto aos módulos de calhas. Fabricado em aço carbono, com alta durabilidade e proteção complementar para o acesso ao equipamento.</p>
                </div>
                <div class="col s4"></div>
            </div>
        </div>
    </div>

<div class="ins_page-blocks ins_block-produto rolo">
        <div class="row row-mobile">
            <div class="col s6 ">
                <div class="col s4"></div>
                <div class="col s8 description">
                    <h2>Rolo esticador</h2>
                    <p> responsável pelo tensionamento da correia elevadora. É ranhurado para evitar o
esmagamento dos grãos (produto) entre o rolo e a correia durante a utilização do elevador.</p>
                </div>
            </div>
            <div class="col s6 ilustration"> &nbsp; </div>
        </div>
    </div>



    <div class="ins_page-blocks ins_block-produto inspecao">
        <div class="row row-mobile">
            <div class="col s6 ilustration"> &nbsp; </div>
            <div class="col s6 ">
                <div class="col s8 description">
                    <h2>Tampa de inspeção</h2>
                    <p> Permite acesso a parte superior do rolo esticador, possibilitando a inspeção desta área do pé do
elevador.</p>
                </div>
                <div class="col s4"></div>
            </div>
        </div>
    </div>

<div class="ins_page-blocks ins_block-produto calha">
        <div class="row row-mobile">
            <div class="col s6 ">
                <div class="col s4"></div>
                <div class="col s8 description">
                    <h2>Calha com Janela de Inspeção</h2>
                    <p> Calha com Janela de Inspeção para acesso ao interior do corpo do elevador, permitindo inspeção e
manutenção das caçambas e correias elevadoras em ambos os lados do duto. A janela é travada por
fechos rápidos tipo lingueta e o acesso ao interior é protegido por uma grade perfurada.</p>
                </div>
            </div>
            <div class="col s6 ilustration"> &nbsp; </div>
        </div>
    </div>

     <div class="ins_page-blocks ins_block-produto cabeca">
        <div class="row row-mobile">
            <div class="col s6 ilustration"> &nbsp; </div>
            <div class="col s6 ">
                <div class="col s8 description">
                    <h2>Cabeça acionamento</h2>
                    <p> Conjunto da extremidade superior do elevador, onde é instalado o
acionamento/motorização e descarrega-se o produto para a(s)
canalização(ões).</p>
                </div>
                <div class="col s4"></div>
            </div>
        </div>
    </div>


    <div class="row"> &nbsp; </div>


    <div class="container">

        <div class="row">
            <div class="col s12">
                <h3>Obras com <b>Elevadores Comil</b></h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="carousel carousel-slider" id="show-works">
                <a class="carousel-item"><img src="/assets/images/produtos/siloelevado/gal-silo_elevado-03.jpg"></a>
                <a class="carousel-item"><img src="/assets/images/produtos/siloelevado/gal-silo_elevado-00.jpg"></a>
                <a class="carousel-item"><img src="/assets/images/produtos/siloplano/gl-siloplano-03.jpg"></a>
                
            </div>
        </div>
    </div>

    <div class="container hide">

        <div class="row">
            <div class="col s12">
                <h3>Especificações técnicas </h3>
            </div>

            <div class="row"> &nbsp; </div>

            

            <div class="row action-row-box ">
                <div class="col s12 center-align">
                    <a href="#" class="action-link center-align">Download da tabela técnica</a>
                </div>
            </div>
        </div>
    </div>

</div>








<script>
    $(document).ready(function() {


        $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true,
            numVisible: 2
        });


    });
</script>