<div class="ins_body-content prd-limpeza-maquina">
    <div class="ins_header_background ins_setbg_header">

        <div class="row ">
            <div class="col s6 ins_header-section">
                <h1>Limpeza</h1>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col s12">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col s12 nav-breadcrumb">
                <a href="/" class="breadcrumb grey-text text-darken-3">Página Inicial</a>
                <a href="#financiamento" class="breadcrumb grey-text text-darken-3">Produtos</a>
            </div>
        </div>

        <div class="row">
            <div class="col s12 page_title">
                <h1>Máquina de Limpeza</h1>
            </div>
        </div>

        <div class="row">
            <div class="col s12 page_title">
                <p>
                As Máquinas de Limpeza Comil são projetadas para entregar eficiência, produtividade e economia na limpeza de diversos produtos a granel, garantindo a remoção de impurezas leves grossas e médias. 
                Nossas máquinas são completas com plataformas, ventilador com quadro de comando e ciclone.
                </p>
            </div>
        </div>
        <div class="row"> &nbsp; </div>
    </div>


    <div class="ins_page-blocks ins_block-produto peneiras">
        <div class="row row-mobile">
            <div class="col s6 ">
                <div class="col s4"></div>
                <div class="col s8 description">
                    <h2>PENEIRAS</h2>
                    <p>As peneiras são fornecidas com uma ampla variedade de perfurações, são de aço e facilmente cambiáveis. Possuem um sistema de autolimpeza por esferas de borracha que impede o embuchamento das peneiras.</p>
                </div>
            </div>
            <div class="col s6 ilustration"> &nbsp; </div>
        </div>
    </div>

    <div class="ins_page-blocks ins_block-produto aspiracao">
        <div class="row">
            <div class="col s6 ilustration"> &nbsp; </div>
            <div class="col s6 ">
                <div class="col s8 description">
                    <h2>ASPIRAÇÃO</h2>
                    <p>
                    O sistema de separação por passagem de ar é regulado pelas manoplas laterais. As máquinas possuem janelas laterais para visualização e limpeza da câmara de aspiração.
                    </p>
                </div>
                <div class="col s4"></div>
            </div>
        </div>
    </div>


    <div class="ins_page-blocks ins_block-produto escadas">
        <div class="row row-mobile">
            <div class="col s6 ">
                <div class="col s4"></div>
                <div class="col s8 description">
                    <h2>ESCADAS E PLATAFORMAS</h2>
                    <p>As máquinas de limpeza Comil, dispõem de plataforma e escadas para facilitar as regulagens, limpezas e manutenções, dando segurança ao operador para realização destas tarefas.</p>
                </div>
            </div>
            <div class="col s6 ilustration"> &nbsp; </div>
        </div>
    </div>

    <div class="ins_page-blocks ins_block-produto exaustor">
        <div class="row">
            <div class="col s6 ilustration"> &nbsp; </div>
            <div class="col s6 ">
                <div class="col s8 description">
                    <h2>EXAUSTOR</h2>
                    <p>Um exaustor centrífugo, dimensionado com vazão e pressão específica para esta aplicação promove o fluxo de ar necessário para remover as partículas mais leves e conduz para um ciclone onde decanta as impurezas e libera o ar limpo para o ambiente.</p>
                </div>
                <div class="col s4"></div>
            </div>
        </div>
    </div>



    <div class="ins_page-blocks ins_block-produto distribuidores">
        <div class="row row-mobile">
            <div class="col s6 ">
                <div class="col s4"></div>
                <div class="col s8 description">
                    <h2>DISTRIBUIDORES DE GRÃOS</h2>
                    <p>As máquinas possuem um sistema de registro de contrapeso que permite uma regulagem para distribuir uniformemente o fluxo de grãos na primeira peneira, condição necessária para uma melhor eficiência na limpeza.</p>
                </div>
            </div>
            <div class="col s6 ilustration"> &nbsp; </div>
        </div>
    </div>

<div class="ins_page-blocks ins_block-produto bicas">
        <div class="row">
            <div class="col s6 ilustration"> &nbsp; </div>
            <div class="col s6 ">
                <div class="col s8 description">
                    <h2>BICAS DE ENSAQUE</h2>
                    <p>As máquinas são dotadas de bicas de ensaque, que possibilitam o recolhimento de diferentes tipos de impurezas, podendo ser ensacadas ou transportadas para silos de impurezas.</p>
                </div>
                <div class="col s4"></div>
            </div>
        </div>
    </div>


    <div class="row"> &nbsp; </div>


    <div class="container">

        <div class="row">
            <div class="col s12">
                <h3>Obras com <b>Máquina de Limpeza Comil</b></h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="carousel carousel-slider" id="show-works">
                <a class="carousel-item"><img src="/assets/images/produtos/maquinalimpeza/gl_maquina-limpeza01.jpg"></a>
                <a class="carousel-item"><img src="/assets/images/produtos/maquinalimpeza/gl_maquina-limpeza.jpg"></a>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row especification-block">
            <div class="col s12">
                <h3>Especificações técnicas </h3>
            </div>

            <div class="row"> &nbsp; </div>

            <div class="especification-table">
                <div class="col s6">
                    <div class="row">
                        <div class="col s6"><b>Modelos</b></div>
                        <div class="col s6">ML 1.09 a ML 4.40</div>
                    </div>
                    <div class="row">
                        <div class="col s6"><b>Capacidade de limpeza (t/h)</b></div>
                        <div class="col s6">
                            <b>Pré:</b> 30 a 140 <br>
                            <b>Pós:</b> 20 a 200
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6"><b>Área das peneiras (m²)</b></div>
                        <div class="col s6"> Até 40 </div>
                    </div>

                    
                </div>
                <div class="col s6">
                    <div class="row">
                        <div class="col s6"><b>Quantidade de peneiras</b></div>
                        <div class="col s6"> Até 16</div>
                    </div>
                    <div class="row">
                        <div class="col s6"><b>Altura(m)</b></div>
                        <div class="col s6"> 3,20 até 7,40 </div>
                    </div>
                    <div class="row">
                        <div class="col s6"><b>Normas de segurança</b></div>
                        <div class="col s6"> NR-12 </div>
                    </div>
                </div>
            </div>

            <div class="row action-row-box hide">
                <div class="col s12 center-align">
                    <a href="#" class="action-link center-align">Download da tabela técnica</a>
                </div>
            </div>
        </div>
    </div>

</div>








<script>
    $(document).ready(function() {


        $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true,
            numVisible: 2
        });


    });
</script>