<div class="ins_body-content prd-transporte-redler">
    <div class="ins_header_background ins_setbg_header">

        <div class="row ">
            <div class="col s6 ins_header-section">
                <h1>Transporte</h1>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col s12">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col s12 nav-breadcrumb">
                <a href="/" class="breadcrumb grey-text text-darken-3">Página Inicial</a>
                <a href="#" class="breadcrumb grey-text text-darken-3">Produtos</a>
            </div>
        </div>

        <div class="row">
            <div class="col s12 page_title">
                <h1>Redler</h1>
            </div>
        </div>

        <div class="row">
            <div class="col s12 page_title">
                <p>Os Redlers Comil foram desenvolvidos para transporte horizontal de granéis sólidos, na carga e descarga de silos, armazéns, máquinas de limpeza, secadores, moegas e outros equipamentos. Construídos em aço galvanizado, com estrutura de união em aço carbono SAE 1020 pintada ou galvanizada. Seu projeto em sistema modular, permite a composição de tamanhos que facilita a montagem do equipamento, sendo totalmente fechado, com tampa de fácil remoção, podendo ser instalado ao ar livre. </p>                 
            </div>
        </div>
        <div class="row"> &nbsp; </div>
    </div>


    <div class="ins_page-blocks ins_block-produto acionamento">
        <div class="row row-mobile">
            <div class="col s6 ">
                <div class="col s4"></div>
                <div class="col s8 description">
                    <h2>Acionamento</h2>
                    <p> O acionamento mecânico é realizado através de moto redutor com acoplamento direto no eixo da roda motora, com sistema de fixação por disco de contração, que permite fácil desmontagem do conjunto. Junto ao acionamento há uma tampa frontal, autolimpante que também evita embuchamento do equipamento.</p>
                </div>
            </div>
            <div class="col s6 ilustration"> &nbsp; </div>
        </div>
    </div>


    <div class="ins_page-blocks ins_block-produto corrente">
        <div class="row">
         <div class="col s6 ilustration"> &nbsp; </div>
            <div class="col s6 ">                
                <div class="col s8 description">
                    <h2>Corrente</h2>
                    <p>
                    A Corrente fabricada com elos em aço laminado SAE 1045 com pinos e buchas em aço SAE 8620 cementadas garantindo alta resistência ao desgaste. O deslocamento da corrente é feito sobre guias especiais alinhadas possibilitando um baixo nível de ruído. A corrente possui raspadores para limpeza do fundo do equipa-mento. </p>
                </div>
                <div class="col s4"></div>
            </div>           
        </div>
    </div>


    <div class="ins_page-blocks ins_block-produto tampa">
        <div class="row row-mobile">
            <div class="col s6 ">
                <div class="col s4  "></div>
                <div class="col s8 description">
                    <h2>Tampa de inspeção</h2>
                    <p>A tampa de inspeção permite a inspeção da corrente e roda dentada. É travada por fechos rápidos tipo lingueta e o acesso ao interior é protegido por uma grade perfurada.</p>
                </div>
            </div>
              <div class="col s6 ilustration"> &nbsp; </div>
        </div>
    </div>

     <div class="ins_page-blocks ins_block-produto rolamento">
        <div class="row">
         <div class="col s6 ilustration"> &nbsp; </div>
            <div class="col s6 ">                
                <div class="col s8 description">
                    <h2>Rolamentos autocompensadores</h2>
                    <p>
                    Junto aos eixos de acionamento e do esticador são empregados rolamentos autocompensadores de rolos. Estes tipos de rolamentos possuem duas carreiras rolos, que compensam desalinhamentos angulares entre os eixos do mancal e as deflexões do eixo esticador. </p>
                </div>
                <div class="col s4"></div>
            </div>
           
        </div>
    </div>




    <div class="row"> &nbsp; </div>


    <div class="container">

        <div class="row">
            <div class="col s12">
                <h3>Obras com <b>Redler Comil</b></h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="carousel carousel-slider" id="show-works">
                <a class="carousel-item"><img src="/assets/images/produtos/transporte_redler/gal-redler-002.jpg"></a>
                <a class="carousel-item"><img src="/assets/images/produtos/transporte_redler/gal-redler-001.jpg"></a>
                
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row especification-block">
            <div class="col s12">
                <h3>Especificações técnicas </h3>
            </div>

            <div class="row"> &nbsp; </div>

            

            <div class="row action-row-box hide">
                <div class="col s12 center-align">
                    <a href="#" class="action-link center-align">Download da tabela técnica</a>
                </div>
            </div>
        </div>
    </div>

</div>








<script>
    $(document).ready(function() {


        $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true,
            numVisible: 2
        });


    });
</script>