<div class="ins_body-content prd-rosca-transportadora">
    <div class="ins_header_background ins_setbg_header">

        <div class="row ">
            <div class="col s6 ins_header-section">
                <h1>Transporte</h1>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col s12">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col s12 nav-breadcrumb">
                <a href="/" class="breadcrumb grey-text text-darken-3">Página Inicial</a>
                <a href="#" class="breadcrumb grey-text text-darken-3">Produtos</a>
            </div>
        </div>

        <div class="row">
            <div class="col s12 page_title">
                <h1>Rosca Transportadora</h1>
            </div>
        </div>

        <div class="row">
            <div class="col s12 page_title">
                <p>A Rosca Transportadora Comil é um equipamento altamente robusto e compacto, pro podendo ser utilizado no transporte horizontal de produtos a granel, em pequenas e médias distâncias, por meio de um helicoide aceitando uma inclinação de até 15°. </p> 
                
            </div>
        </div>



        <div class="row"> &nbsp; </div>


    </div>


    <div class="ins_page-blocks ins_block-produto helicoide">
        <div class="row row-mobile">
            
            <div class="col s6 ">      
                <div class="col s4  "></div>          
                <div class="col s8 description">
                    <h2>Helicoide</h2>
                    <p>A helicoide é fabricada com aço carbono laminado e seu sentido de desenvolvimento é direito.</p>
                </div>
                
            </div>
            <div class="col s6 ilustration"> &nbsp; </div>
              
        </div>
    </div>


    <div class="ins_page-blocks ins_block-produto durabilidade">
        <div class="row">        
            <div class="col s6 ilustration"> &nbsp; </div>
            <div class="col s6 ">                
                <div class="col s8 description">
                    <h2>Durabilidade</h2>
                    <p>As laterais, o fundo e a tampa superior são fabricados em aço galvanizado.</p>
                </div>
                <div class="col s4"></div>
            </div>
        </div>
    </div>


    <div class="ins_page-blocks ins_block-produto tampa">
        <div class="row row-mobile">            
            <div class="col s6 ">         
                <div class="col s4  "></div>       
                <div class="col s8 description">
                    <h2>Tampa de inspeção</h2>
                    <p>A Tampa inspeção para acesso a parte superior da helicoide da rosca transportadora. Possui tampa com fecho rápido e grade de proteção interna.</p>
                </div>
                
            </div>
              
        <div class="col s6 ilustration"> &nbsp; </div>
        </div>
    </div>



    <div class="row"> &nbsp; </div>


    <div class="container ">

        <div class="row">
            <div class="col s12">
                <h3>Obras com <b>Correias Transportadoras Comil</b></h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <div class="carousel carousel-slider" id="show-works">
            
                <a class="carousel-item"><img src="/assets/images/produtos/siloplano/gl-siloplano-03.jpg"></a>
                <a class="carousel-item"><img src="/assets/images/produtos/siloelevado/gal-silo_elevado-00.jpg"></a>
                <a class="carousel-item"><img src="/assets/images/produtos/siloelevado/gal-silo_elevado-03.jpg"></a>
                
            </div>
        </div>
    </div>

    <div class="container hide">

        <div class="row especification-block">
            <div class="col s12">
                <h3>Especificações técnicas </h3>
            </div>

            <div class="row"> &nbsp; </div>

            

            <div class="row action-row-box">
                <div class="col s12 center-align">
                    <a href="#" class="action-link center-align">Download da tabela técnica</a>
                </div>
            </div>
        </div>
    </div>

</div>








<script>
    $(document).ready(function() {


        $('.carousel.carousel-slider').carousel({
            fullWidth: true,
            indicators: true,
            numVisible: 2
        });


    });
</script>