<div class="ins_body-content">
    <div class="ins_header_background ins_setbg_financiamento">

        <div class="row ">
            <div class="col s6 ins_header-section">
                <h1>Serviços ao Cliente</h1>
            </div>
        </div>

    </div>


    <div class="container">
        <div class="row">
            <div class="col s12">
                &nbsp;
            </div>
        </div>

        <div class="row">
            <div class="col s12 nav-breadcrumb">
                <a href="/" class="breadcrumb grey-text text-darken-3">Página Inicial</a>
                <a href="#pecaseservicos" class="breadcrumb grey-text text-darken-3">Serviços ao Cliente</a>
            </div>
        </div>

        <div class="row">
            <div class="col s12 page_title">
                <h1>Peças e Serviços <a name="pecaseservicos"></a></h1>
            </div>
        </div>




        <div class="row">
            <div class="col s12"> A Comil possui um time multidisciplinar para entender e auxiliar você na escolha do melhor serviço/peça para seu projeto. </div>
        </div>

        <div class="display-contact ">
            <div class="block-contact phones-list">
                <div class="label"> TELEFONE / WhatsApp </div>
                <div class="value"> 
                
                <a href="tel://554521015042" target="_blank" title="Clique aqui para falar com nosso time de Peças e Serviços"> +55 (45) 2101-5042 </a> 
                <a href="tell://554521015049" target="_blank" title="Clique aqui para falar com nosso time de Peças e Serviços"> +55 (45) 2101-5049 </a> 
                <a href="https://wa.me/5545991044074" target="_blank" class="whatsapp" title="Clique aqui para falar com nosso time de Peças e Serviços"> +55 45 99104 - 4074</a> 
                
                </div>
            </div>
        </div>


        <div class="display-contact">
            <div class="block-contact">
                <div class="label"> E-mail </div>
                <div class="value"> <a href="mailto:pecas@comil.com.br" target="_blank" title="Clique aqui para falar com nosso time de Peças e Serviços">pecas@comil.com.br</a> </div>
            </div>

        </div>

        <div class="row">&nbsp;</div>

        <div class="row">
            <p class="col s12"> Fale com nosso time comercial.
                <%= link_to_unless_current "Clique aqui para acessar nossa área de atuação", { action: "areadeatuacao" } %>.
            </p>
        </div>
        <div class="row">&nbsp;</div>
    </div>
</div>